################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/iam-policies/v15/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
